@use "mixins" as *;
@import "reset";

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  @include flex();
  background: rgb(66, 182, 221);
  background: linear-gradient(
    325deg,
    rgba(66, 182, 221, 0.9710259103641457) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(190, 69, 252, 0.9710259103641457) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@import "start";
@import "gameWrapper";

.hidden {
  display: none;
}

.disabled {
  opacity: 0.2;
}
